<form>
  <div>
    <label for="">
      Nombre:
      <input type="text" name="name" value="{{ name }}" />
    </label>
  </div>
  <div>
    <label for="">
      Edad:
      <input type="text" name="age" value="{{ age }}" />
    </label>
  </div>
  <div>
    <label for="">
      Cumple:
      <input type="date" name="birthday" value="{{ birthday }}" />
    </label>
  </div>
  <div>
    <label for="">
      Género:
      <select name="gender">
        <option value="" selected disabled>Selecciona género</option>
        <option value="male">Hombre</option>
        <option value="female">Mujer</option>
      </select>
    </label>
  </div>

  <p id="error" style="color: red"></p>

  <button type="submit">Crear morro</button>
</form>

<script>
  document.addEventListener("input", handleChange);
  document.addEventListener("submit", handleSubmit);

  let obj = {};
  let error = document.getElementById("error");
  let base_url = "http://localhost:3000";

  function handleChange(e) {
    let field = e.target.name;
    obj[field] = e.target.value;
  }

  function handleSubmit(e) {
    e.preventDefault();

    {{#if _id}}
    axios.patch(`${base_url}/characters/{{_id}}/edit`, obj)
    {{else}}
    axios.post(`${base_url}/characters/new`, obj)
    {{/if}}
      .then(() => {
        window.location.replace("/characters/");
      })
      .catch(err => {
        let e = err.response.data.errors.name.message;
        if (e) {
          error.innerText = e;
        }
      });
  }
</script>
