<form {{#if _id}} action="/restaurants/{{_id}}/edit" {{else}} action="/restaurants/new" {{/if}} method="POST">
  <div>
    <label for="">
      Name:
      <input type="text" name="name" value="{{name}}" />
    </label>
  </div>
  <div>
    <label for="">
      Longitude:
      <input id="lng" type="text" name="lng" value="{{location.coordinates.[0]}}" />
    </label>
  </div>
  <div>
    <label for="">
      Latitude:
      <input id="lat" type="text" name="lat" value="{{location.coordinates.[1]}}" />
    </label>
  </div>
  <div id="search"></div>
  <div id="map" style="width: 400px; height: 400px"></div>
  <div>
    <label for="">
      Description:
      <textarea name="description" id="" cols="30" rows="10">{{description}}</textarea>
    </label>
  </div>
  <button type="submit">Crear Restaurante</button>
</form>

<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiY3J1c2VkbW9zcyIsImEiOiJjanUwYWJpcTIwMGlxNDRxbnVrbzRlZ2ZwIn0.JFaXPkdL0AJ7Vbtyc8lD4A";

  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  });

  var input_lng = document.getElementById("lng");
  var input_lat = document.getElementById("lat");

  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });

  {{#if _id}}
  let center = [{{location.coordinates.[0]}},{{location.coordinates.[1]}}]
  map.setCenter(center).setZoom(15)
  {{/if}}

  geocoder.on("result", res => {
    console.log(res.result);
    let [lng, lat] = res.result.center;
    input_lng.value = lng;
    input_lat.value = lat;
  });

  document.getElementById("search").appendChild(geocoder.onAdd(map));
</script>
