<h1>Restaurants</h1>

<ul>
  {{#each restaurants as |rest|}}
  <li>
    <a href="/restaurants/{{ rest._id }}">{{ rest.name }}</a>
    <a href="/restaurants/{{ rest._id }}/edit">editar</a>
    <a href="/restaurants/{{ rest._id }}/delete">borrar</a>
  </li>
  {{/each}}
</ul>

<div id="map" style="width: 100%; height: 400px;"></div>
<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoiY3J1c2VkbW9zcyIsImEiOiJjanUwYWJpcTIwMGlxNDRxbnVrbzRlZ2ZwIn0.JFaXPkdL0AJ7Vbtyc8lD4A";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });

  map.addControl(
    new MapboxDirections({
      accessToken: mapboxgl.accessToken
    }),
    "top-left"
  );

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      position => {
        let { longitude, latitude } = position.coords;

        const user_position = [longitude, latitude];

        map.setCenter(user_position).setZoom(15);

        const popup = new mapboxgl.Popup().setText("Ya te encontré mijo");

        const marker = new mapboxgl.Marker()
          .setLngLat(user_position)
          .setPopup(popup)
          .addTo(map);
      },
      err => {
        console.log("No te dieron chance morro", err);
      }
    );
  } else {
    console.log("Usa chrome mijo");
  }

  let n,mark,pop;
  {{#each restaurants }}
   n = "{{this.name}}"
   pop = new mapboxgl.Popup().setText(n);

   mark = new mapboxgl.Marker()
    .setLngLat([{{ this.location.coordinates.[0] }}, {{ this.location.coordinates.[1] }}])
    .setPopup(pop)
    .addTo(map);

  {{/each}}

      map.addControl(new mapboxgl.NavigationControl(), "bottom-right");
</script>
